.contact {
  display: flex;
}

.contact_left {
  flex: 1;
  margin-right: 6rem;
}

.contact_right {
  flex: 1;
  padding-top: 4rem;
}

.contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact_form input,
.contact_form select,
.contact_form textarea {
  display: block;
  background: #f6f6f6;
  border: 1px solid #eeeeee;
  padding: 8px 24px;
  width: 100%;
  outline: none;
  resize: none;
  appearance: none;
  -webkit-appearance: none;
}

.contact_form select {
  grid-column: 1/-1;
}

.contact_form textarea {
  grid-column: 1/-1;
}

.contact_form button {
  width: fit-content;
}

.contact_form textarea {
  height: 210px;
}

.contact_social {
  display: flex;
  align-items: center;
}

.contact_social > :not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact_left {
    margin-right: 0rem;
    margin-bottom: 3rem;
  }

  .contact_right {
    padding-top: 0rem;
  }
}

@media (max-width: 700px) {
  .contact_form select {
    grid-column: unset;
  }

  .contact_form textarea {
    grid-column: unset;
  }

  .contact_form {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .contact_form button {
    width: 100%;
  }
}
