.section {
  display: flex;
  align-items: flex-start;
}
.section_left {
  flex: 1;
  margin-right: 6rem;
}
.section_right {
  flex: 1;
}

@media (max-width: 850px) {
  .section {
    flex-direction: column;
  }

  .section_left {
    flex: 1;
    margin-right: 0rem;
    margin-bottom: 1rem;

    width: 100%;
  }
}
