.investors {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 22px; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.investors > div {
  flex: 1;
  flex-basis: 200px;
  margin: 0px -10px;
  display: flex;
  flex-wrap: wrap;
}

.investors > div > div {
  flex: 1;
  margin: 10px 20px;
  flex-basis: 200px;
}

.investors > :nth-child(2n + 1) {
  margin-top: 4rem;
}

/* .investors > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
} */

@media (max-width: 1000px) {
  .investors > :nth-child(2n + 1) {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .investors > div {
    flex-basis: 150px;
  }
  .investors > div > div {
    flex-basis: 150px;
  }
}
