.propertySlider {
  display: flex;
  align-items: center;
}

.propertySlider.reverse {
  flex-direction: row-reverse;
}

.propertySlider_left {
  width: 50%;
}

.propertySlider_right {
  width: 50%;
  padding-right: 5rem;
  margin-left: 3rem;
  /* border: 2px solid red; */
}
.propertySlider.reverse .propertySlider_right {
  text-align: right;
  padding-right: 0rem;
  padding-left: 5rem;

  margin-left: 0rem;
  margin-right: 0rem;
}

.propertySlider.reverse .propertySlider_left {
  margin-left: 3rem;
}

.propertySliderButtons {
  display: flex;
  align-items: center;
}

.propertySlider.reverse .propertySliderButtons {
  justify-content: end;
}

.propertySliderButtons > :not(:last-child) {
  margin-right: 1.5rem;
}

.propertySliderButtons button {
  position: relative;
  display: flex;
  align-items: center;
  color: #caa383 !important;
  z-index: 10;
  transition: all 0.2s ease;
}

.propertySliderButtons button:nth-child(1)::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #ffecdc;
  border-radius: 50%;
  margin-right: -30px;
  z-index: -1;
}
.propertySliderButtons button:nth-child(2)::after {
  content: "";
  width: 40px;
  height: 40px;
  background: #ffecdc;
  border-radius: 50%;
  margin-left: -30px;
  z-index: -1;
}

.propertySliderButtons button[disabled] {
  color: #8c8c8c !important;
}

.propertySliderButtons button[disabled]::before,
.propertySliderButtons button[disabled]::after {
  background-color: #e8ebf2;
}
