.headerWrapper {
  background: url(../../assets/images/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}
.bgImg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
}
.header {
  display: flex;
  align-items: center;
  min-height: 498px;
  padding-top: 120px;
  padding-bottom: 30px;
}
.pageFrom {
  display: flex;
  align-items: center;
}

.pageFrom > :not(:last-child) {
  margin-right: 2rem;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    min-height: auto;
    padding-top: 120px;
    flex-direction: column;
  }

  .header_container {
    flex-direction: column;
    align-items: unset;
  }

  .header_container_right img {
    width: 100%;
    margin-top: 2rem;
  }

  .bgImg {
    position: static;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header {
    padding-top: 90px;
  }
}
