.footerWrapper {
  background: #f6f6f6;
}

.footer {
  padding: 70px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer > :last-child {
  text-align: right;
}

.brandLogo {
  width: 100px;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages > :not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 700px) {
  .footer {
    padding: 30px 0;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem 0;
  }

  .footer > :last-child {
    grid-column: 1/-1;
    text-align: center;
  }
  .languages {
    justify-content: end;
  }

  .brandLogo {
    width: 70px;
  }
}
