.contact_form_2_wrapper {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formRow > :not(:last-child) {
  margin-right: 2rem;
}

.contact_form_2 {
  grid-template-columns: repeat(3, 1fr);
}

.contact_form_2 select {
  grid-column: 3/4;
  grid-row: 1/2;
}

.contact_form_2 button {
  grid-column: 3/4;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .formRow {
    flex-direction: column;
    align-items: unset;
  }

  .formRow > :not(:last-child) {
    margin-right: 0rem;
  }
}

@media (max-width: 700px) {
  .contact_form_2_wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .formRow > :first-child {
    margin-top: 2.5rem;
  }

  .contact_form_2 {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .contact_form_2 select {
    grid-column: 1/-1;
    grid-row: unset;
  }

  .contact_form_2 button {
    grid-column: 1/-1;
    margin-left: auto;
  }
}
